* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-weight: 100;
}

body,
com-project,
com-chain {
  display: grid;
}

com-project,
com-chain,
com-module {
  padding: 4px;

  border-radius: 2px;
  border: 1px solid #000;
}

com-chain-list,
com-module-list {
  display: flex;
  gap: 4px;
}

com-module-list {
  flex-direction: column;
}

/* g r a b b i n g*/
com-project.grabbing,
com-project.grabbing com-module {
  cursor: grabbing;
}
com-module {
  user-select: none;
  cursor: grab;
}
.grabbed {
  color: orange;
}
